@use "../../styles/mixins" as mixin;
@use "../../styles/placeholder" as *;
@use "../../styles/variables" as *;

.cardStyling {
  @include mixin.flexible(column, 0rem);
  background-color: #fff;
  min-height: 23vw;

  img {
    width: 100%;
    min-height: 15vw;
    max-height: 15vw;
    object-fit: cover;
  }

  article{
    padding: 1rem;
  }

  h5,
  p {
    @extend %noMarPad;
  }

  h5{
    font-size: 1.2vw;
    min-height: 100px;
  }
  p{
    font-size: 0.8vw;
  }
}
