@use "../../styles/mixins" as mixin;
@use "../../styles/placeholder" as *;
@use "../../styles/variables" as *;

.grid{
    @extend %absoluteCenter;
    display: grid;
    align-items: center;
    max-width: 100%;
}

@media (max-width: 1200px){
    .grid{
        grid-template-columns: 1fr 1fr !important;
    }
}
@media (max-width: 700px){
    .grid{
        grid-template-columns: 1fr !important;
    }
}

