@use "./../styles/mixins" as mixin;
@use "./../styles/placeholder" as *;
@use "./../styles/variables" as *;

.mainLayout {
  
  //Font
  @extend %openSans;


  //Font sizing
  h1 {
    font-size: 2vw;
    font-weight: 600;
    @media screen and (max-width: 1200px) {
      font-size: 2.8vw;
    }
    @media screen and (max-width: 700px) {
      font-size: 3vw;
    }
  }
  h2 {
    font-size: 1.5vw;
    font-weight: 600;
    @media screen and (max-width: 1200px) {
      font-size: 2.3vw;
    }
    @media screen and (max-width: 700px) {
      font-size: 2.8vw;
    }
  }

  h3 {
    font-size: 3vw;
    font-weight: 600;
    @media screen and (max-width: 1200px) {
      font-size: 4vw;
    }
    @media screen and (max-width: 700px) {
      font-size: 6vw;
    }
  }

  h4{
    font-size: 2.5vw;
    font-weight: 600;
    @media screen and (max-width: 1200px) {
      font-size: 3.5vw;
    }
    @media screen and (max-width: 700px) {
      font-size: 5.5vw;
    }
  }
  h5{
    font-size: 2vw;
    font-weight: 600;
    @media screen and (max-width: 1200px) {
      font-size: 3vw;
    }
    @media screen and (max-width: 700px) {
      font-size: 5vw;
    }
  }

  h6{
    font-size: 0.9vw;
    font-weight: 400;
    @media screen and (max-width: 1200px) {
      font-size: 2.7vw;
    }
    @media screen and (max-width: 700px) {
      font-size: 4.5vw;
    }
  }
  p{
    font-size: 0.8vw;
    font-weight: 600;
    @media screen and (max-width: 1200px) {
      font-size: 1.5vw;
    }
    @media screen and (max-width: 700px) {
      font-size: 2.5vw;
    }
  }
}
